.carRadar{
    position: absolute;
    width: 100%;
    height: 100%;
}
.carRadar .label{
    text-align: center;
    font-size: 1.45vw;
    font-weight: bold;
}
.carRadar .model{
    position: relative;
    width: 8.02vw;
    height: 18.22vw;
    max-width: 154px;
    max-height: 349px;
    margin: 4.1vh auto;
}
.carRadar .model .carFull{
    width: 100%;
}
.carRadar .model .radar-line{
    position: absolute;
}
.carRadar .model .radar-left-1{
    width: 3.17vw;
    margin-left: -1.58vw;
}
.carRadar .model .radar-left-1.radar-level-1{
    top: 92%;
    left: -4%;
}
.carRadar .model .radar-left-1.radar-level-2{
    top: 100%;
    left: -20%;
}
.carRadar .model .radar-left-1.radar-level-3{
    top: 110%;
    left: -35%;
}
.carRadar .model .radar-left-2{
    width: 4.53vw;
    margin-left: -2.27vw;
}
.carRadar .model .radar-left-2.radar-level-1{
    top: 102%;
    left: 30%;
}
.carRadar .model .radar-left-2.radar-level-2{
    top: 112%;
    left: 25%;
}
.carRadar .model .radar-left-2.radar-level-3{
    top: 122%;
    left: 15%;
}
.carRadar .model .radar-left-3{
    width: 4.53vw;
    margin-left: -2.27vw;
}
.carRadar .model .radar-left-3.radar-level-1{
    top: 102%;
    left: 74%;
}
.carRadar .model .radar-left-3.radar-level-2{
    top: 112%;
    left: 79%;
}
.carRadar .model .radar-left-3.radar-level-3{
    top: 122%;
    left: 86%;
}
.carRadar .model .radar-left-4{
    width: 3.17vw;
    margin-left: -1.58vw;
}
.carRadar .model .radar-left-4.radar-level-1{
    top: 92%;
    left: 104%;
}
.carRadar .model .radar-left-4.radar-level-2{
    top: 100%;
    left: 117%;
}
.carRadar .model .radar-left-4.radar-level-3{
    top: 110%;
    left: 134%;
}