.page__base {
    --theme-width: 480px;
    --theme-height: 480px;
    --theme-font-size-logo: 120px;
    --theme-font-size-xx-small: 14px;
    --theme-font-size-x-small: 14px;
    --theme-font-size-small: 14px;
    --theme-font-size-medium: 18px;
    --theme-font-size-normal: 20px;
    --theme-font-size-x-normal: 35px;
    --theme-font-size-large: 40px;
    --theme-font-size-x-large: 50px;
    --theme-font-size-xx-large: 65px;
    --theme-border-circle-width: 2px;
    --theme-border-circle-color: rgba(255, 255, 255, 0.25);
    --theme-border-circle-tb-color: rgba(255, 255, 255, 0.4);
}

.page__theme__dark {
    --theme-background-color: #0F2035;
    --theme-background-url: url("file:///app/cn.fmsoft.hybridos.smartcontrolpanel/assets/bg-dark.png");
    --theme-color: #FFF;
    --theme-btn-color: #FFF;
    --theme-lockscreen-message-mask-color: rgba(125, 141, 167, 0.5);
    --theme-progress-color: #FFF;
    --theme-progress-text-color: #7D8DA7;
    --theme-mask-color: rgba(255, 255, 255, 0.2);
    --theme-slider-color: #F7F7F7;
    --theme-slider-handle-color: #DADBDB;
    --theme-active-background-color: #FFF;
    --theme-active-color: gray;
    --theme-weather-filter: invert(1);
    --theme-blur-low: opacity(0.5);
    --theme-blur-high: opacity(0.5);
    --theme-backbutton-color: #000;
    --theme-backbutton-bg-color: rgba(255, 255, 255, 0.9);
    --theme-backbutton-blur: opacity(0.5);
    --theme-border-circle-color: rgba(255, 255, 255, 0.25);
    --theme-btn-icon-background: #7D8DA7;
    --theme-music-circle-color: #D4D4D4;
    --theme-gear-text-color: #FFF;
    --theme-gear-active-text-color: #7D8DA7;
}

.page__theme__light__blue {
    --theme-background-color: #2868F0;
    --theme-background-url: url("file:///app/cn.fmsoft.hybridos.smartcontrolpanel/assets/bg-light-blue.png");
    --theme-color: #FFF;
    --theme-btn-color: #FFF;
    --theme-lockscreen-message-mask-color: rgba(125, 141, 167, 0.5);
    --theme-progress-color: #FFF;
    --theme-progress-text-color: #7D8DA7;
    --theme-mask-color: rgba(255, 255, 255, 0.2);
    --theme-slider-color: #F7F7F7;
    --theme-slider-handle-color: #DADBDB;
    --theme-active-background-color: #FFF;
    --theme-active-color: gray;
    --theme-weather-filter: invert(1);
    --theme-blur-low: opacity(0.5);
    --theme-blur-high: opacity(0.5);
    --theme-backbutton-blur: opacity(0.7);
    --theme-border-circle-color: rgba(255, 255, 255, 0.25);
    --theme-btn-icon-background: #7D8DA7;
    --theme-music-circle-color: #D4D4D4;
    --theme-gear-text-color: #FFF;
    --theme-gear-active-text-color: #7D8DA7;
}

.page__theme__light__green {
    --theme-background-color: #4CA99E;
    --theme-background-url: url("file:///app/cn.fmsoft.hybridos.smartcontrolpanel/assets/bg-light-green.png");
    --theme-color: #494949;
    --theme-btn-color: #696969;
    --theme-lockscreen-message-mask-color: rgba(87, 98, 116, 0.5);
    --theme-progress-color: #696969;
    --theme-progress-text-color: #EEEEEC;
    --theme-mask-color: rgba(89, 89, 89, 0.2);
    --theme-slider-color: #696969;
    --theme-slider-handle-color: rgba(89, 89, 89, 0.8);
    --theme-active-background-color: #696969;
    --theme-active-color: #494949;
    --theme-weather-filter: brightness(0) saturate(100%) invert(23%) sepia(1%) saturate(3254%) hue-rotate(334deg) brightness(93%) contrast(74%);
    --theme-blur-low: opacity(0.5);
    --theme-blur-high: opacity(0.5);
    --theme-backbutton-blur: opacity(0.7);
    --theme-border-circle-color: rgba(255, 255, 255, 0.25);
    --theme-btn-icon-background: rgba(89, 89, 89, 0.2);
    --theme-music-circle-color: rgba(105, 105, 105, 0.8);
    --theme-gear-text-color: #494949;
    --theme-gear-active-text-color: #EEEEEC;
}

.btn:focus {
    box-shadow: none;
    outline: none !important;
}

.btn:hover {
    color: var(--theme-btn-color);
    outline: none !important;
    box-shadow: none;
    background-color: transparent;
    border: 0px;
}

.wrapper {
    overflow: hidden;
    width: var(--theme-width);
    height: var(--theme-height);
}

.page {
    background: var(--theme-background-color) var(--theme-background-url)  no-repeat;
    color: var(--theme-color);
}

.load {
    overflow: hidden;
    width: 480px;
    height: 480px;
    position: relative;
    background: var(--theme-mask-color);
    backdrop-filter: var(--theme-blur-low);
    -webkit-backdrop-filter: var(--theme-blur-low);
}

.load__logo {
    height: 160px;
    width: 160px;
    position: absolute;
    left: 160px;
    top: 80px;
    border-radius: 50%;
    border: var(--theme-border-circle-width) var(--theme-border-circle-color) solid;
}

.load__logo__opacity {
    opacity: 0.5;
}

.load__tips {
    position: absolute;
    width: 480px;
    bottom: 30px;
    font-size: var(--theme-font-size-normal);
    text-align: center;
}

.load__anim {
    position: absolute;
    left: 170px;
    top: 40px;
    width: 160px;
    height: 160px;
    clear: both;
    margin: 20px auto;

    border: var(--theme-border-circle-width) var(--theme-border-circle-color) solid;
    border-radius: 50%;
    -webkit-animation: spCircRot 2s infinite linear;
    animation: spCircRot 2s infinite linear;
}

@-webkit-keyframes spCircRot {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@keyframes spCircRot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.network {
    overflow: hidden;
    width: 480px;
    height: 480px;
    background: var(--theme-mask-color);
    backdrop-filter: var(--theme-blur-low);
    -webkit-backdrop-filter: var(--theme-blur-low);
}

.network__icon {
    position: absolute;
    height: 160px;
    width: 160px;
    left: 160px;
    top: 70px;
    font-size: var(--theme-font-size-logo);
    text-align: center;

    border: var(--theme-border-circle-width) var(--theme-border-circle-color) solid;
    border-top: var(--theme-border-circle-width) var(--theme-border-circle-tb-color) solid;
    border-bottom: var(--theme-border-circle-width) var(--theme-border-circle-tb-color) solid;
    border-radius: 50%;
}

.network__icon__anim {
    -webkit-animation: spCircRot 2s infinite linear;
    animation: spCircRot 2s infinite linear;
}

.network__title {
    position: absolute;
    width: 480px;
    bottom: 30px;
    font-size: var(--theme-font-size-normal);
    text-align: center;
}

.network__status {
    position: absolute;
    width: 280px;
    height: 30px;
    left: 100px;
    top: 270px;
    font-size: var(--theme-font-size-medium);
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
}

.network__sub__status {
    position: absolute;
    width: 280px;
    height: 30px;
    left: 100px;
    top: 300px;
    font-size: var(--theme-font-size-medium);
    text-align: center;
    overflow: hidden;
    text-overflow: clip;
}

.network__retry__button {
    position: absolute;
    left: 140px;
    bottom: 25px;
    font-size: var(--theme-font-size-normal);
    width: 200px;
    color: #F8F9FA;
    border: 1px solid #F8F9FA;
    border-radius: 0.375rem;
    background-color: transparent;
}

.network__retry__button:hover {
    color: #F8F9FA;
    border: 1px solid #F8F9FA;
    border-radius: 0.375rem;
    background-color: transparent;
}

.network__retry__button:focus {
    color: #FF0000;
    border: 1px solid #F8F9FA;
    border-radius: 0.375rem;
    background-color: transparent;
}

.container {
    width: var(--theme-width);
    height: var(--theme-height);
    padding: 28px;
    color: var(--theme-color);
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.container * {
    flex-shrink: 0;
}

.lockscreen {
    width: var(--theme-width);
    height: var(--theme-height);
    padding:  20px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 9;
    transition: opacity 3s ease-out;
}

.lockscreen__top__weather__icon {
    font-size: 40px;
    margin-right: 10px;
}

.lockscreen__top__date {
    padding-top:  10px;
}

.lockscreen__top__date__content {
    font-size: var(--theme-font-size-normal);
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: var(--theme-color);
    line-height: 29px;
}

.lockscreen__top__clock__content {
    font-size: var(--theme-font-size-x-large);
}

.lockscreen_center {
    width: 100%;
    height: 204px;
    padding: 0 21px;
    background: var(--theme-mask-color);
    border-radius: 16px;
    backdrop-filter: var(--theme-blur-low);
    -webkit-backdrop-filter: var(--theme-blur-low);
}

.lockscreen__center__music {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.lockscreen__center__music__icon {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 2px solid var(--theme-music-circle-color);
}

.lockscreen__center__music__title {
    margin-left: 16px;
}

.lockscreen__center__music__title__line {
    margin: 0;
}

.lockscreen__center__music__control {
}

.lockscreen__center__music__control__prev {
    color: var(--theme-color);
    font-size: 33px;
}

.lockscreen__center__music__control__play {
    color: var(--theme-color);
    font-size: 50px;
}

.lockscreen__center__music__control__pause {
    color: var(--theme-color);
    font-size: 50px;
}

.lockscreen__center__music__control__next {
    color: var(--theme-color);
    font-size: 33px;
}

.lockscreen__center__messages {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.lockscreen__center__messages__icon {
    display:flex;
    align-items:center;
    justify-content: center;
    width: 66px;
    height: 66px;
    line-height: 66px;
    border-radius: 50%;
    text-align: center;
    background: var(--theme-lockscreen-message-mask-color);
    backdrop-filter: var(--theme-blur-high);
    -webkit-backdrop-filter: var(--theme-blur-high);
}

.lockscreen__center__messages__icon__bi {
    font-size: 38px !important;
}

.lockscreen__center__messages__tips {
    width: 70%;
}

.lockscreen__bottom {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 400px;
    cursor: pointer;
    z-index: 99;
}

.lockscreen__bottom__unlock__icon {
    position: absolute;
    bottom: 0px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 5px #d8d8d8;
    color: var(--theme-color);
    left: 233px;
    z-index: 999;
}

/* origin smart index.css */
.unlocked {
    overflow-y: auto !important;
}

.unlock__anim {
    transform: translateY(-100%);
    transition: transform 250ms ease-out;
}

.date {
    font-size: var(--theme-font-size-normal);
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: var(--theme-color);
    line-height: 29px;
}

.music-block {
    width: 100%;
    height: 204px;
    padding: 0 21px;
    background: var(--theme-mask-color);
    border-radius: 16px;
    backdrop-filter: var(--theme-blur-low);
    -webkit-backdrop-filter: var(--theme-blur-low);
}

.music-block .flex-box {
    height: 50%;
}

.chat-content {
    width: 79%;
}

.lockscreen__msg {
    height: 60px;
    width: 288px;
    min-width: 0;
    display:flex;
    justify-content:left;
    align-items:center;
    font-size: var(--theme-font-size-small);
}

.music-block p {
    margin: 0;
}

.chat-box {
    justify-content: space-between !important;
}

.chat-box i {
    font-size: 38px !important;
}

.chat-box .btn-icon {
    width: 66px;
    height: 66px;
    line-height: 66px;
}

.music-block2 .flex-box {
    height: 100%;
}


.check-btn {
    color: var(--theme-btn-color);
    font-size: 33px;
    border:0;
}

.music-pic {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 2px solid var(--theme-music-circle-color);
}

.block-right {
    height: 100%;
}

.time {
    font-size: var(--theme-font-size-xx-large);
}

.content-block {
    width: 100%;
    flex-shrink: 0;
}

.block {
    height: 204px;
    padding: 0 21px;
    background: var(--theme-mask-color);
    border-radius: 16px;
    backdrop-filter: var(--theme-blur-low);
    -webkit-backdrop-filter: var(--theme-blur-low);
    margin-bottom: 18px;
}

.btn-des {
    font-size: var(--theme-font-size-normal);
    font-family: Helvetica-Bold, Helvetica;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
}

.title-block {
    margin-top: 37px;
}

#lockScreen {
    width: var(--theme-width);
    height: var(--theme-height);
    padding:  20px;
    background: var(--theme-background-color) var(--theme-background-url)  no-repeat;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 9;
    transition: opacity 3s ease-out;
}

.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#right {
    height: 100%;
    display: flex;
}

.right-block-layout {
    margin: 0 16px;
}

.right-content {
    width: 428px;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.landscape{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 15px;
}

.landscape .title-block{
    margin: 0 28px;
}

.landscape  .music-block{
  display: none;
}

#toright {
    padding: 0 13px;
    padding: 0 13px;
    position: relative;
    right: -13px;
}

.gear {
    background: var(--theme-btn-icon-background);
    color: var(--theme-gear-text-color);
    padding: 20px;
    margin: 1px;
    width: 33%;
    text-align: center;
}

.outline{
    font-size: var(--theme-font-size-small);
    color: red;
    position: absolute;
    bottom: -9px;
}

.gear-box {
    width: 100% !important;
}

.gears {
    width: 74%;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 16px;
}

.music-block2 {
    height: 204px !important;
}

.block-title {
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
    font-size: 18px;
}

.right-block-title {
    display: flex;
    margin-bottom: 20px;
    font-size: var(--theme-font-size-normal);
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: var(--theme-color);
    line-height: 33px;
}

.back {
    margin-right: 16px;
}

.button-box {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between !important;
}

.scene__btn {
    width:50%;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.btn-icon {
    display:flex;
    align-items:center;
    justify-content: center;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    line-height: 76px;
    text-align: center;
    background: var(--theme-btn-icon-background);
    backdrop-filter: var(--theme-blur-high);
    -webkit-backdrop-filter: var(--theme-blur-high);
    color:var(--theme-btn-color);
}

.btn-icon i{
   font-size: var(--theme-font-size-x-normal) !important;
}

.btn-icon-active {
    background: var(--theme-active-background-color);
    color: var(--theme-gear-active-text-color);
}

.weather i{
    font-size: var(--theme-font-size-large);
    margin-right: 10px;
}

.weather__img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    filter: var(--theme-weather-filter);
}

.progress-bar {
    transition: width 0.1s;
 }

.justify-content-center{
    width: 96%;
    margin: 0 auto;
}

.play {
    font-size: var(--theme-font-size-large);
    color: var(--theme-btn-color);
    border:0px;
    outline: none !important;
}

.play:hover {
    color: var(--theme-btn-color);
    background-color: transparent;
    border: 0px;
    outline: none !important;
    box-shadow: none;
}

.pause-btn {
    font-size: var(--theme-font-size-large);
    color: var(--theme-btn-color);
    outline: none !important;
    box-shadow: none;
    border:0px;
}

.pause-btn:hover {
    color: var(--theme-btn-color);
    background-color: transparent;
    border: 0px;
    outline: none !important;
    box-shadow: none;
}

.card-title {
    margin-left: 16px;
    font-size: var(--theme-font-size-small);
}

.card-bg {
    background: transparent;
}

.progress{
    height: 5px;
}

.small-block {
    width: 205px;
    height: 176px;
    background: var(--theme-mask-color);
    border-radius: 16px;
    backdrop-filter: var(--theme-blur-low);
    -webkit-backdrop-filter: var(--theme-blur-low);
    padding: 20px;
    box-sizing: border-box;
}

.small-icon {
    font-size: var(--theme-font-size-large);
    color: var(--theme-btn-color);
    margin-bottom: 30px;
}

.small-des {
    text-align: left !important;
    font-size: var(--theme-font-size-normal);
    font-family: PingFangSC-Semibold, PingFang SC;
    color: var(--theme-color);
    line-height: 33px;
}

.status {
    font-size: var(--theme-font-size-medium);
    padding: 4px 10px;
    background: var(--theme-btn-icon-background);
    border-radius: 12px;
    position: absolute;
    right: 30px;
}

.animate-img {
  animation: rotate 10s linear infinite;
}

.air-box .btn-icon {
    background: transparent !important;
}

.air-box .btn-icon i {
  font-size: var(--theme-font-size-xx-large) !important;
}

.turn-up {
   transform: rotate(-90deg);
}

.turn-down {
    transform: rotate(90deg);
 }

 .conditioner {
    background: var(--theme-mask-color);
    backdrop-filter: var(--theme-blur-low);
    -webkit-backdrop-filter: var(--theme-blur-low);
    height: 70px;
    justify-content: left;
    padding: 0 16px;
    position: relative;
 }

 .slider.slider-horizontal {
    width: 100% !important;
    /* height: 70px !important;
    overflow: hidden;
    border-radius: 20px; */
 }

 .slider-box {
    width: 72%;
    height: 70px;
    /* overflow-x: hidden; */
    justify-content: space-around;
 }

 .slider.slider-horizontal .slider-track {
    /* height: 75px !important;
    width: 100%;
    margin-top: -5px !important;
    top: 0;
    left: 0;
    border-radius: 20px; */
}

.slider-handle {
    /* left: 0%;
    height: 70px;
    width: 70px;
    border-radius: 50% !important;
    top: 0px; */
}

.progress {
    height: 100%;
    background: var(--theme-progress-color);
    position: absolute;
    left: 0;
    top: 0;
    color: var(--theme-progress-text-color);
    padding: 0 16px;
    line-height: 50px;
    font-size: var(--theme-font-size-normal);
    border-radius: 0;
}

.edit {
    width: 100px;
    text-align: center;
    background: var(--theme-mask-color);
    backdrop-filter: var(--theme-blur-low);
    -webkit-backdrop-filter: var(--theme-blur-low);
    font-size: 23px;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 60px;
 }

 .gear.active {
    background: var(--theme-active-background-color) !important;
    color: var(--theme-gear-active-text-color) !important;
 }

 #mySlider2 .slider-handle {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    background: #333;
    position: absolute;
    top: 50%;
 }

 .slider.slider-vertical  {
    height: 120px;
    width: 20px;
}

.slider-handle {
    background-color: #dee3e8;
    background-image: linear-gradient(to bottom, var(--theme-slider-handle-color) 0%, var(--theme-slider-handle-color) 100%);
}

.slider-selection {
    background: var(--theme-slider-color)
}

.slider-track-high {
    background: var(--theme-slider-color)
}

.slider-track-low {
    background: var(--theme-slider-color)
}


#toTop {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 40px;
    cursor: pointer;
    z-index: 99;
}

.unlock-icon{
    position: absolute;
    bottom: 0px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 5px #d8d8d8;
    color: var(--theme-color);
    left: 233px;
    z-index: 999;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
      }
}


.load__img__anim {
    height: 170px;
    width: 170px;
    position: absolute;
    left: 155px;
    top: 55px;

    clear: both;
    margin: 20px auto;
}

/* Spinner Circle Rotation */
.load__img__anim__circle {
    border: 4px var(--theme-mask-color) solid;
    border-top: 4px rgba(255, 255, 255, 0.40) solid;
    border-radius: 50%;
    -webkit-animation: spCircRot 2s infinite linear;
    animation: spCircRot 2s infinite linear;
}

@-webkit-keyframes spCircRot {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@keyframes spCircRot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

a {
    outline:none;
    text-decoration: none;
    color: var(--theme-color);
}

a:visited {
    outline:none;
    text-decoration: none;
    color: var(--theme-color);
}

a:link {
    outline:none;
    text-decoration: none;
    color: var(--theme-color);
}

a:hover {
    outline:none;
    text-decoration: none;
    color: var(--theme-color);
}

a:active {
    outline:none;
    text-decoration: none;
    color: var(--theme-color);
}

.msg__container {
}

.msg__container__header {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    height:40px;
    position:absolute;
    z-index:99;
}

.msg__container__header__back {
    display: flex;
    font-size: 25px;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
    width:40px;
    height:40px;
    border-radius: 50%;
    color: var(--theme-backbutton-color);
    background: var(--theme-backbutton-bg-color);
    backdrop-filter: var(--theme-backbutton-blur);
    -webkit-backdrop-filter: var(--theme-backbutton-blur);
}

.msg__container__header__title {
    font-size: 24px;
}

.msg__container__content {
    display: flex;
    height:400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msg__contenter_content_box {
    width: 90%;
    margin: 10px;
    padding: 20px 20px;
    background: var(--theme-mask-color);
    border-radius: 16px;
    backdrop-filter: var(--theme-blur-low);
    -webkit-backdrop-filter: var(--theme-blur-low);
}

.msg__contenter_iframe {
    position:absolute;
    top:0;
    width: 100%;
    height: 100%;
}

#id_camera_status {
    text-align: center;
    font-size: var(--theme-font-size-large);
}
