
.init__container {
    width:480px;
    height:480px;
}

.init__container__logo {
    height: 160px;
    width: 160px;
}

.init__status {
    width:480px;
}

.init__status__tips {
}

.init__status__anim {
}

.init__status__container {
    max-width: 70%;
}

.btn:focus {
    box-shadow: none;
    outline: none !important;
}

.btn:hover {
    outline: none !important;
    box-shadow: none;
    background-color: transparent;
    border: 0px;
}

.retry__button {
    position: absolute;
    left: 140px;
    bottom: 25px;
    width: 200px;
    color: var(--bs-body-color);
    border: 1px solid var(--bs-body-color);
    border-radius: 0.375rem;
    background-color: transparent;
}

.retry__button:hover {
    border: 1px solid var(--bs-body-color);
    border-radius: 0.375rem;
    background-color: transparent;
}

.retry__button:focus {
    border: 1px solid var(--bs-body-color);
    border-radius: 0.375rem;
    background-color: transparent;
}
