.setting-wifi-password{
    background: #222A3E;
    width: 100%;
    height: 100%;
    font-size: 55px;
    color: #fff;
    font-weight: bold;
    display: block;
}
.password-go-back{
    position: absolute;
    top:40px;
    left:120px;
}
.setting-wifi-password .submit{
    position: absolute;
    top:40px;
    right:120px;
}
.setting-wifi-password .setting-header{
    height: 150px;
    background: #1F2534;
}
.setting-wifi-password .setting-header .setting-title{
    height: 100%;
    text-align: center;
    line-height: 150px;
}
.setting-wifi-password .setting-header .setting-title img{
    position: relative;
    top:-14px;
}
.setting-wifi-password .setting-header .setting-title span{
    margin-left: 20px;
}
.setting-wifi-password .setting-content{
    height: calc(100% - 150px);
    overflow: scroll;
}
.setting-wifi-password .setting-content .setting-item{
    display: flex;
    height: 240px;
    padding-left: 100px;
    margin: 30px 45px;
    border-radius: 30px;
    background: rgba(240, 242, 243, 0.05);
}
.setting-wifi-password .setting-content .setting-item .label{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.setting-wifi-password .setting-content .setting-item .icon{
    margin-left: auto;
    margin-right: 80px;
    padding-top: 80px;
}
.setting-wifi-password .setting-content .setting-item i{
    color: #4D5875;
    font-size: 60px;
}
.setting-wifi-password .setting-content .setting-item .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 144px;

    font-weight:100;
}
.setting-wifi-password .setting-content .setting-item .content .input{
    width: 800px;
    line-height: 60px;
    overflow: hidden;
    background: transparent;
    border: 0px;
    color: #fff;
}
.setting-wifi-password .setting-content .setting-item .content .input:empty::before{
    content: attr(placeholder);
    color: rgba(255,255,255,0.1);      
}

.setting-wifi-password .keyboard{
    height: 500px;
    width: 100%;
    background: #222A3E;
    position: absolute;
    bottom: 0;
}

.setting-wifi-password .keyboard .content{
    height: 100%;
    width: 100%;
    background: rgba(240, 242, 243, 0.05);
}