.video-player{
    height:100%;
    width:100%;
    background:#000;
}
.video-player video{
    height:100%;
    width:100%;
}
.video-player .goBack{
    position: absolute;
    top: 78px;
    left: 60px;
    width:200px;
    height:100px;
    text-align:center;
    z-index:1;
}