.titlebar {
    position:relative;
    height: 12vh;
    margin-top:1px;
}

.titlebar__title {
     text-align: center;
     font-size:32px;
     margin-left: 15vw;
     margin-right: 15vw;
}

.titlebar__back {
    position: absolute;
    top: 4px;
    width: 40px;
    height: 40px;
    margin-left:12px;
    margin-top:5px;
}

.titlebar__add {
    position: absolute;
    top: 1vh;
    right: 2vh;
    width: 10vh;
    height: 10vh;
}

