#title_name{
    margin-left:100px;
}
#day{
    position:absolute;
    top: -15px;
    left: 2px;
}
#curr_time{
    font-size:2em;
    position:relative;
    top:-40px;
}

#main_pane{
    width:640px;
    height:360px;
    position:absolute;
    top:0px;
    left:2px;
    background-color:#EBEBEB;
    color:#5C5C5C;
}

img.top{
    float:right;
}

#right-btn >p{
    margin-top:40px;
    margin-bottom:40px;
}

#right-btn{
    width:60px;
    height:180px;
    line-height:100px;
    position:absolute;
    right:40px;
    bottom:80px;
}

#center_pane{
    width:300px;
    height:150px;
    position:absolute;
    left:170px;
    top:200px;
}

#go-back{
    margin-left:5px;
    margin-top:5px;
    float:left;
}

.left_img{
    margin-left:5px;
    margin-top:5px;
    width:40px;
    height:40px;
    float:left;
}

.right_img{
    margin-left:5px;
    margin-top:5px;
    width:40px;
    height:40px;
    float:right;
}

#dpart-add{
    margin-right:5px;
    margin-top:5px;
    float:right;
}
     
#cert_ok{
    background-image:url('icon/shadow.png');
    background-color:#11A2FD;
    background-repeat:repeat-y;
    width:224;
    height:70px;
}

.dialog_title{
    width:300px;
    padding-top:0px;
    margin-top:0px;
    text-align:center;
}

.sep_hori{
    display:inline-block;
    width:30px;
}

dialog{
    width:450px;
    position:absolute;
    top:50px;
    left:80px;
    right:auto;
    background-color:#EBEBEB;
    color:#5C5C5C;
    padding-top: 2px;
    padding-bottom:2px;
}
