#title_name{
    margin-left:100px;
}
#day{
    position:absolute;
    top: 20%;
    left: 40%;
}

#curr_time{
    font-size:2em;
    position:relative;
    top:-40px;
}

#main_pane{
    width:640px;
    height:360px;
    font-family:sans-serif;
    position:absolute;
    top:0px;
    left:2px;
    background-color:#D3D9DB;
    background-image:url('exported/assets/icon/background.png');
    background-size:cover;
    color:#5C5C5C;
}

img.top{
    float:right;
}

#right-btn >p{
    margin-top:30px;
    margin-bottom:30;
}
#right-btn{
    width:60px;
    height:180px;
    line-height:100px;
    position:absolute;
    right:40px;
    bottom:120px;
}
#center_pane{
    width:300px;
    height:150px;
    position:absolute;
    left:170px;
    top:200px;
}
.left_img{
    margin-left:15px;
    margin-top:5px;
    width:40px;
    height:40px;
    float:left;
}
.right_img{
    margin-right:15px;
    margin-top:5px;
    width:40px;
    height:40px;
    float:right;
}    
#cert_ok{
    background-image:url('exported/assets/icon/shadow.png');
    background-color:#11A2FD;
    background-repeat:repeat-y;
    width:224px;
    height:70px;
}

.dialog_title{
    font-size:1.5em;
    width:100%;
    padding-top:0px;
    margin-top:0px;
    text-align:center;
}

.dialog_content{
    margin-left:3%;
}

.dialog_bottom{
    margin-left:3%;
    margin-top:2em;
    margin-right:7.8%;
    margin-bottom:5px;
}

.next_col{
    display:inline-block;
    width:5em;
    text-align:right;
}
.first_col{
    display:inline-block;
    width:3%;
    text-align:right;
}

dialog{
    width:46%;
    position:absolute;
    top:10%;
    left:25%;
    right:auto;
    font-family:sans-serif;
    color:black;
    background-color:#FFFFFF;
    border-color:#80FFFF;
    border-width:1px;
    border-style: solid;
    padding-top: 2px;
    padding-bottom:2px;
    border-top-left-radius:10px; 
    border-top-right-radius:10px;
    border-bottom-left-radius:10px; 
    border-bottom-right-radius:10px;
}
