.network__wifi {
    position:relative;
    height: 12vh;
    margin-top: 4vh;
}

.network__wifi__title {
    position: absolute;
    top: 1vh;
    left: 3vw;
    text-align: left;
}

.network__wifi__toggle {
    position: absolute;
    top: 1vh;
    right: 3vw;
    width: 10vh;
    height: 10vh;
}

.network__saved__wlan {
    margin-top: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;

    padding-left: 1vw;

    border-style:solid;
    border-color: #CCCCCC;
    border-width: 1px 0 0 0;
}

.network__saved__wlan__title {
    margin-top: 2vh;
}

.network_saved__wlan__list {
}

.network__other__wlan {
    margin-top: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;

    padding-left: 1vw;

    border-style: solid;
    border-color: #CCCCCC;
    border-width: 1px 0 0 0;

}

.network__other__wlan__title {
    margin-top: 2vh;
}

.network_other__wlan__list {
}

.network__wlan__item {
    position:relative;
    height: 10vh;
}

.network__wlan__item__rssi {
    position: absolute;
    top: 1vh;
    width: 8vh;
    height: 8vh;
}

.network__wlan__item__title {
    position: absolute;
    top: 1vh;
    left: 10vh;
}

.network__wlan__item__rssi__5g {
    width: 3vh;
    height: 3vh;
    position: absolute;
    top: 6vh;
    left: 6vh;
    font-size: 2vh;
    border-style:solid;
    border-color: #CCCCCC;
    border-width: 1px;
}

.network__wlan__item__link {
    position: absolute;
    right: 14vh;
    top: 2vh;
    width: 6vh;
    height: 6vh;
}

.network__wlan__item__lock {
    position: absolute;
    right: 8vh;
    top: 3vh;
    width: 4vh;
    height: 4vh;
}

.network__wlan__item__arrow {
    position: absolute;
    right: 0vh;
    top: 1vh;
    width: 8vh;
    height: 8vh;
}

.dlg__pwd {
    position: absolute;
    background: white;
    color: black;
    top:10%;
    left: 0;
    right:0;
    width: 60%;
    height: 40%;
    max-width: 100%;
    margin: auto;
    padding: 1em;
    border-style:solid;
    border-color: #999999;
    border-width: 1px;
}


.dlg__title {
    position:relative;
    height: 12vh;
    padding-top:1vh;
    color:#5C5C5C
}

.dlg__title__title {
     text-align: left;
     margin-left: 2vw;
     margin-right: 15vw;
}

.dlg__title__back {
    position: absolute;
    top: 1vh;
    left: 2vh;
    width: 10vh;
    height: 10vh;
}

.dlg__title__close {
    position: absolute;
    top: 1vh;
    right: 2vh;
    width: 10vh;
    height: 10vh;
}

.dlg__btn {
    position: absolute;
    top: 58vh;
    right: 2vh;
    width: 25vh;
    height: 10vh;
    text-align:center;
    color:#5C5C5C;
    border-style:solid;
    border-color: #CCCCCC;
    border-width: 1px;
}

.dlg__title__pw {
    margin-top: 4vh;
    width: 58vw;
    height: 15vh;
    color:#5C5C5C;
    border-style:solid;
    border-color: #CCCCCC;
    border-width: 1px;
}

.dlg__err__msg {
    margin-top: 5vh;
    width: 58vw;
    height: 10vh;
    text-align:center;
    color:red;
}



